<!doctype html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Sistema de Importación</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <style>
      body {
        font-size: .875rem;
      }
      .navbar {
        background-color: #343a40;
      }
    </style>
</head>
<body>

<header>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top shadow">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'productos:lista_productos' %}">Sistema Importación</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'productos:lista_productos' %}">Productos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'productos:embarque_lista' %}">Embarques</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/admin/">Admin</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
</header>

<div class="container-fluid">
    <div class="row">
        <main class="col-md-12 ms-sm-auto col-lg-12 px-md-4">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h1 class="h2">{% block page_title %}{% endblock %}</h1>
                {% if request.resolver_match.view_name == 'productos:lista_productos' %}
                <div class="btn-toolbar mb-2 mb-md-0">
                    <a href="{% url 'productos:producto_crear' %}" class="btn btn-sm btn-outline-primary">
                        Añadir Nuevo Producto
                    </a>
                </div>
                {% endif %}
                {% if request.resolver_match.view_name == 'productos:embarque_lista' %}
                <div class="btn-toolbar mb-2 mb-md-0">
                    <a href="{% url 'productos:embarque_crear' %}" class="btn btn-sm btn-outline-primary">
                        Añadir Nuevo Embarque
                    </a>
                </div>
                {% endif %}
            </div>
            {% block content %}
            {% endblock %}
        </main>
    </div>
</div>

<!-- Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>